body{
    background-image: url("../hostels.img/backg.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: tomato;
}
.login{
    width: 360px;
    padding: 10%;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background-color: black;
    opacity: 0.8;
    max-width: 360px;
    margin:  0 auto 100px;
    padding: 45px;
    text-align: center;
    height: 330px;
    border-radius: 14px;
}
.form input{
    font-family: 'Courier New', Courier, monospace;
    outline: 1;
    background-color: white;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: medium;
}

.form button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    background-color: white;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    cursor: pointer;
}

.form button:hover{
    background-color: bisque;
    box-shadow: goldenrod;
}
.form .message {
    margin: 15px;
    color: white;
}
.form .message a{
    color: yellow;
}
.form .register{
    display: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width:100%;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color:skyblue;
  }





